<div class=wrap-menu>
  <div class=container-menu>
    <div class="title">
      <h1>OUR FORMULA</h1>
      <h2>1 BOX <span style="color:green"> = </span>1 CHOSEEN DISHES <span style="color:green"> + </span>1 POTAGE <span style="color:green"> AND </span>1 DRINK</h2>
    </div> --> title end
    <div class="image">
      <div class="row">
      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="picture-card">
          <ul><%= image_tag "Screen.jpg" %></ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="picture-card">
          <ul><%= image_tag "Screen.jpg" %></ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="picture-card">
          <ul><%= image_tag "Screen.jpg" %></ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="picture-card">
          <ul><%= image_tag "Screen.jpg" %></ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="picture-card">
          <ul><%= image_tag "Screen.jpg" %></ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="picture-card">
          <ul><%= image_tag "Screen.jpg" %></ul>
        </div>
      </div>
      </div>
    </div>

    <div class="product">
      <div class="pokebowl">
          <div class="box"><h1>POKE-BOWL</h1></div>
          <div class="detail">
            <p>Le poke bowl est un plat de la gastronomie hawaienne a base de riz, fruits, legumes et poisson cru finement coupes. Bref, du soleil dans vos assiettes...reinvente pour vous !</p>
          </div>
          <div class="menu-couple">
            <div class="menu-alone">
              <div class="name"><p>Poke bowl de saumon</p></div>
              <div class="ingredient"><p> concombre, tomate cerise, avocat, mangue, jeune oignon, sesame, gingembre</p></div>
              <div class="price">
                <div class="type">seul</div>
                <div class="euro">9€</div>
              </div>
            </div>
            <div class="menu-alone">
              <div class="name"><p>Poke bowl de poulet</p></div>
              <div class="ingredient"><p>  concombre, tomate cerise, avocat, mangue, jeune oignon, sesame, gingembre</p></div>
              <div class="price">
                <div class="type">seul</div>
                <div class="euro">9€</div>
              </div>
            </div>
          </div>
          <div class="menu-couple">
            <div class="menu-alone">
                <div class="name"><p>Poke bowl de tofu</p></div>
                <div class="ingredient"><p> concombre, tomate cerise, avocat, mangue, jeune oignon, sesame, gingembre</p></div>
                <div class="price">
                  <div class="type">seul</div>
                  <div class="euro">9€</div>
                </div>
            </div>
          </div>
      </div>

      <div class="salade">
        <div class="box"><h1>SALADE</h1></div>
                  <div class="detail">
            <p>Le poke bowl est un plat de la gastronomie hawaienne a base de riz, fruits, legumes et poisson cru finement coupes. Bref, du soleil dans vos assiettes...reinvente pour vous !</p>
          </div>
          <div class="menu-couple">
            <div class="menu-alone">
              <div class="name"><p>Poke bowl de saumon</p></div>
              <div class="ingredient"><p> concombre, tomate cerise, avocat, mangue, jeune oignon, sesame, gingembre</p></div>
              <div class="price">
                <div class="type">seul</div>
                <div class="euro">9€</div>
              </div>
            </div>
            <div class="menu-alone">
              <div class="name"><p>Poke bowl de poulet</p></div>
              <div class="ingredient"><p>  concombre, tomate cerise, avocat, mangue, jeune oignon, sesame, gingembre</p></div>
              <div class="price">
                <div class="type">seul</div>
                <div class="euro">9€</div>
              </div>
            </div>
          </div>
          <div class="menu-couple">
            <div class="menu-alone">
                <div class="name"><p>Poke bowl de tofu</p></div>
                <div class="ingredient"><p> concombre, tomate cerise, avocat, mangue, jeune oignon, sesame, gingembre</p></div>
                <div class="price">
                  <div class="type">seul</div>
                  <div class="euro">9€</div>
                </div>
            </div>
          </div>
      </div>

      <div class="dwish">
        <div class="box"><h1>DWISH</h1></div>
          <div class="detail">
            <p>Le poke bowl est un plat de la gastronomie hawaienne a base de riz, fruits, legumes et poisson cru finement coupes. Bref, du soleil dans vos assiettes...reinvente pour vous !</p>
          </div>
          <div class="menu-couple">
            <div class="menu-alone">
              <div class="name"><p>Poke bowl de saumon</p></div>
              <div class="ingredient"><p> concombre, tomate cerise, avocat, mangue, jeune oignon, sesame, gingembre</p></div>
              <div class="price">
                <div class="type">seul</div>
                <div class="euro">9€</div>
              </div>
            </div>
            <div class="menu-alone">
              <div class="name"><p>Poke bowl de poulet</p></div>
              <div class="ingredient"><p>  concombre, tomate cerise, avocat, mangue, jeune oignon, sesame, gingembre</p></div>
              <div class="price">
                <div class="type">seul</div>
                <div class="euro">9€</div>
              </div>
            </div>
          </div>
            <div class="menu-couple">
            <div class="menu-alone">
              <div class="name"><p>Poke bowl de saumon</p></div>
              <div class="ingredient"><p> concombre, tomate cerise, avocat, mangue, jeune oignon, sesame, gingembre</p></div>
              <div class="price">
                <div class="type">seul</div>
                <div class="euro">9€</div>
              </div>
            </div>
            <div class="menu-alone">
              <div class="name"><p>Poke bowl de poulet</p></div>
              <div class="ingredient"><p>  concombre, tomate cerise, avocat, mangue, jeune oignon, sesame, gingembre</p></div>
              <div class="price">
                <div class="type">seul</div>
                <div class="euro">9€</div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="extra">
      <div>
        <input type="button" value="Click Me first" class="btn">
      </div>
      <div>
        <input type="button" value="Click Me" class="btn">
      </div>
    </div>
  </div>
</div>
















