<div class="login_page">

  <div class="left_block">
    <div class="welcome_text company_name">
      AirbnWine
    </div>
    <div class="welcome_text strip_line">
      Fine wine. Good price.
    </div>
    <%= image_tag "logo_airbnwine.jpg", width: 300 %>
  </div>

  <div class="right_block">
    <div class="login_card">

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), :defaults => { :input_html => { :class => "form_input" } }) do |f| %>
      <div class="login_form">
        <%= f.input :email, label: false, placeholder: 'Email' , class: "form_input"%>
        <%= f.input :password, label: false, placeholder: 'Password', required: false, class: "form_input" %>
      </div>
      <div class="form-actions">
        <br>
        <%= f.button :submit, "Log in" , class: "submit_button"%>
      </div>
      <% end %>

      <br>
      <div class="shared_links">
        <%= render "devise/shared/links" %>
      </div>

      </div>
    </div>
</div>
